test/flows/test_flow_3_links.json
[
    {
        "id": "b3ecc3b4.a2484",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "46710a1e.79ab04",
        "type": "mqtt-broker",
        "z": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "fc79931a.d428d",
        "type": "inject",
        "z": "b3ecc3b4.a2484",
        "name": "test_inject",
        "topic": "helloworld",
        "payload": "{\"hello\":\"world\"}",
        "payloadType": "str",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "x": 165.16670989990234,
        "y": 131.000018119812,
        "wires": [ [ "e73d61e7.fc1c" ] ]
    },
    {
        "id": "e73d61e7.fc1c",
        "type": "debug",
        "z": "b3ecc3b4.a2484",
        "name": "test_debug",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 521.166690826416,
        "y": 134.00004863739014,
        "wires": []
    },
    {
        "id": "459681a2.6fff4",
        "type": "link in",
        "z": "b3ecc3b4.a2484",
        "name": "link_in_1",
        "links": [ "148a7b79.e5abd5" ],
        "x": 375.1667306423187,
        "y": 263.3333492279053,
        "wires": [ [ "e73d61e7.fc1c" ] ]
    },
    {
        "id": "799499bb.12d2a8",
        "type": "inject",
        "z": "b3ecc3b4.a2484",
        "name": "test_3s",
        "topic": "test2",
        "payload": "hepp",
        "payloadType": "str",
        "repeat": "15",
        "crontab": "",
        "once": true,
        "x": 163.16667938232422,
        "y": 203.333345413208,
        "wires": [ [ "148a7b79.e5abd5" ] ]
    },
    {
        "id": "148a7b79.e5abd5",
        "type": "link out",
        "z": "b3ecc3b4.a2484",
        "name": "link_out_1",
        "links": [ "459681a2.6fff4" ],
        "x": 295.1667022705078,
        "y": 265.3333492279053,
        "wires": []
    },
    {
        "id": "2fc5d057.91e46",
        "type": "serial",
        "z": "",
        "port": "COM3",
        "baudrate": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "flowctrl":  "none"
    },
    {
        "id": "a1e2db35.72fbb8",
        "type": "serial-in",
        "topic":  "in data",
        "z": "2fece17d.8912de",
        "name": "COM3_In",
        "serial-port": "2fc5d057.91e46",
        "x": 222,
        "y": 215.14999389648438,
        "msgtype":  "dataavailable",
        "wires": [ [ "5c1acde8.23d444"] ]
    },
    {
        "id": "5c1acde8.23d444",
        "type": "serial-port-out",
        "z": "2fece17d.8912de",
        "name": "COM3_Out",
        "serial-port": "2fc5d057.91e46",
        "x": 432,
        "y": 195.29998779296875,
        "wires": []
    }
]