test/flows/test_flow_1_mqtt.json
[{"id":"b3ecc3b4.a2484","type":"tab","label":"Flow 1"},{"id":"46710a1e.79ab04","type":"mqtt-broker","z":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"fc79931a.d428d","type":"inject","z":"b3ecc3b4.a2484","name":"","topic":"","payload":"{\"test\":\"data\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":167.16669464111328,"y":131.00000762939453,"wires":[["e73d61e7.fc1c","1e8b1760.e5c159"]]},{"id":"e73d61e7.fc1c","type":"debug","z":"b3ecc3b4.a2484","name":"Timestamp logger","active":true,"console":"false","complete":"true","x":525.1667022705078,"y":138.00004863739014,"wires":[]},{"id":"1e8b1760.e5c159","type":"mqtt out","z":"b3ecc3b4.a2484","name":"","topic":"nrc/test/1","qos":"","retain":"","broker":"46710a1e.79ab04","x":493.16673278808594,"y":210.00005340576172,"wires":[]},{"id":"a0177323.897d3","type":"mqtt in","z":"b3ecc3b4.a2484","name":"","topic":"nrfc/test/1","qos":"2","broker":"46710a1e.79ab04","x":131.1667137145996,"y":351.0000820159912,"wires":[["a36aeaf2.dbb538"]]},{"id":"a36aeaf2.dbb538","type":"debug","z":"b3ecc3b4.a2484","name":"","active":true,"console":"false","complete":"false","x":521.1666870117188,"y":360,"wires":[]}]