test/flows/uart_echo.json
[{"id":"83cab448.369258","type":"tab","label":"host","disabled":false,"info":""},{"id":"77ebd4eb.152f5c","type":"tab","label":"uart echo","disabled":false,"info":""},{"id":"672cc328.d9425c","type":"nrc-serial","z":"","port":"4","baudrate":"115200","databits":"8","parity":"none","stopbits":"1","flowctrl":"none"},{"id":"604443b1.c2c7fc","type":"serial-port","z":"","serialport":"COM3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"50","bin":"false","out":"time","addchar":false},{"id":"eddcc1d0.e8ba4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"da22d2f0.768e3","type":"nrc-serial-in","z":"77ebd4eb.152f5c","name":"My serial in","topic":"Cannot think of a topic","serial":"672cc328.d9425c","priority":"8","bufsize":"256","msgtype":"json","x":330,"y":280,"wires":[["614b902c.33026"]]},{"id":"614b902c.33026","type":"nrc-serial-out","z":"77ebd4eb.152f5c","name":"My serial out","serial":"672cc328.d9425c","priority":"7","bufsize":"256","x":540,"y":280,"wires":[]},{"id":"b33d6d69.25c0b","type":"nrc-inject","z":"77ebd4eb.152f5c","name":"Timeout","topic":"timeout_5s","timeout":"5000","repeat":true,"priority":"5","x":320,"y":140,"wires":[["2d8e3186.0fa65e","e2191270.184f8"]]},{"id":"2d8e3186.0fa65e","type":"nrc-debug","z":"77ebd4eb.152f5c","name":"Log_1","host":false,"target":true,"x":490,"y":100,"wires":[]},{"id":"e2191270.184f8","type":"nrc-debug","z":"77ebd4eb.152f5c","name":"Log_2","host":true,"target":true,"x":490,"y":180,"wires":[]},{"id":"9fc7601e.037ca","type":"serial out","z":"83cab448.369258","name":"nrc_out","serial":"604443b1.c2c7fc","x":800,"y":240,"wires":[]},{"id":"3cddd06b.d76b9","type":"serial in","z":"83cab448.369258","name":"nrc in","serial":"604443b1.c2c7fc","x":130,"y":540,"wires":[["904bac91.440ee"]]},{"id":"a6460b74.2d79b8","type":"inject","z":"83cab448.369258","name":"load flow","topic":"filename","payload":"C:/Users/tomas/Documents/projects/git/nrc/test/flows/uart_echo.json","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":100,"wires":[["6df8f469.8ed2cc"]]},{"id":"904bac91.440ee","type":"debug","z":"83cab448.369258","name":"nrc in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":540,"wires":[]},{"id":"8c561702.206508","type":"debug","z":"83cab448.369258","name":"nrc nodes","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":820,"y":380,"wires":[]},{"id":"c7795bc8.4bb668","type":"file in","z":"83cab448.369258","name":"read flows file","filename":"","format":"utf8","chunk":false,"sendError":false,"x":280,"y":231,"wires":[["bc933a10.a87228"]]},{"id":"bc933a10.a87228","type":"json","z":"83cab448.369258","name":"string to json","property":"payload","action":"","pretty":false,"x":330,"y":296,"wires":[["d9f4b14f.bae3c"]]},{"id":"d9f4b14f.bae3c","type":"split","z":"83cab448.369258","name":"separate nodes","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":380,"y":356,"wires":[["2b69f653.e6b29a"]]},{"id":"e46436a9.636848","type":"change","z":"83cab448.369258","name":"filter out non-nrc proporties","rules":[{"t":"delete","p":"payload.x","pt":"msg"},{"t":"delete","p":"payload.y","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":476,"wires":[["8c561702.206508","9fc7601e.037ca"]]},{"id":"2b69f653.e6b29a","type":"function","z":"83cab448.369258","name":"filter out non-nrc nodes","func":"var res = msg.payload.type.substring(0, 3);\nif(res != \"nrc\") {\n    msg = null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":416,"wires":[["e46436a9.636848"]]},{"id":"642f0f29.1d6a2","type":"inject","z":"83cab448.369258","name":"start flow","topic":"start","payload":"{\"cmd\":\"start\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["e61b8348.97eff","9fc7601e.037ca"]]},{"id":"e61b8348.97eff","type":"debug","z":"83cab448.369258","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":60,"wires":[]},{"id":"6df8f469.8ed2cc","type":"change","z":"83cab448.369258","name":"set filename","rules":[{"t":"move","p":"payload","pt":"msg","to":"filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":160,"wires":[["c7795bc8.4bb668"]]}]